@model IEnumerable<MAP.OA.Model.UserInfo>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/jquery-easyui-1.8.2/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/jquery-easyui-1.8.2/themes/default/easyui.css" rel="stylesheet" />
    <script src="~/Content/jquery-easyui-1.8.2/jquery.min.js"></script>
    <script src="~/Content/jquery-easyui-1.8.2/jquery.easyui.min.js"></script>
    <script src="~/Content/jquery-easyui-1.8.2/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Content/jquery-easyui-1.8.2/locale/easyui-lang-en.js"></script>
    
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        $(function () {
            initTable();

            //hide the dialog when the page initialized
            $("#addDialogDiv").css("display", "none");
            $("#editDialogDiv").hide();
            $("#setRoleDialogDiv").hide();
            $("#setActionDialogDiv").hide();

            bindSearchButtonClick();
        });

        function initTable(queryParam) {
            $('#tt').datagrid({
                url: '/UserInfo/GetAllUserInfos',
                title: '用户信息列表',
                width: 700,
                height: 400,
                fitColumns: true,
                idField: 'Id',              //要和后台数据库Id一致
                loadMsg: '正在加载用户的信息...',
                pagination: true,
                singleSelect: false,
                pageSize: 10,
                pageNumber: 1,
                pageList: [10, 20, 30],
                queryParams: queryParam,    //exstra parameters when the datagrid is setup. Formatter: {key1 : value1, key2 : value2}
                columns: [[
                    //u.Id, u.UserName, u.Password, u.FirstName, u.LastName, u.Remark, u.SubTime, u.ModifiedOn
                    { field: 'ck', checkbox: true, align: 'left', width: 80 },
                    { field: 'Id', title: '用户编号', width: 80 },
                    { field: 'UserName', title: '用户名', width: 80 },
                    { field: 'Password', title: '密码', width: 80 },
                    { field: 'LastName', title: '性', width: 80 },
                    { field: 'FirstName', title: '名', width: 80 },
                    {
                        field: 'SubTime', title: '提交时间', width: 80,
                        //formatter: function (value, row, index) {
                        //    return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($l)"))).pattern("yyyy-M-d h:m:s");
                        //}
                    },
                    { field: 'Remark', title: '备注', width: 120 },
                    {
                        field: 'DelFlag', title: '操作', width: 120, formatter: function(value, row, index){
                            var str = "";
                            str += "<a href='javascript:void(0)' class='editLink' uid='" + row.Id + "'>edit</a> &nbsp;";
                            str += "<a href='javascript:void(0)' class='deleteLink' uid='" + row.Id + "'>delete</a>";
                            return str;
                        }
                    }
                ]],
                toolbar: [
                    {
                        id: 'btnAddUser',
                        text: 'new',
                        iconCls: 'icon-add',
                        handler: function () {
                            //alert("Add");
                            addClickEvent();
                        }
                    },
                    {
                        id: 'btnDelete',
                        text: 'delete',
                        iconCls: 'icon-cancel',
                        handler: function () {
                            deleteClickEvent();
                        }
                    },
                    {
                        id: 'btnEdit',
                        text: 'edit',
                        iconCls: 'icon-edit',
                        handler: function () {
                            // 检测是否选中一行数据
                            var seletedRows = $('#tt').datagrid("getSelections");
                            if (seletedRows.length != 1) {
                                $.messager.alert("error", "please select exacly one row", "warning");
                                return;
                            }
                            editClickEvent(seletedRows[0].Id);
                        }
                    },
                    {
                        id: 'btnSetRole',
                        text: 'set role',
                        iconCls: 'icon-redo',
                        handler: function () {
                            var seletedRows = $('#tt').datagrid("getSelections");
                            if (seletedRows.length != 1) {
                                $.messager.alert("error", "please select exacly one row", "warning");
                                return;
                            }
                            setRoleClickEvent(seletedRows[0].Id);
                        }
                    },
                    {
                        id: 'btnSetAction',
                        text: 'set action',
                        iconCls: 'icon-redo',
                        handler: function () {
                            var seletedRows = $('#tt').datagrid("getSelections");
                            if (seletedRows.length != 1) {
                                $.messager.alert("error", "please select exacly one row", "warning");
                                return;
                            }
                            setActionClickEvent(seletedRows[0].Id);
                        }
                    }
                ],
                onHeaderContextMenu: function (e, field) {

                },
                // after data are loaded
                onLoadSuccess: function (data) {
                    $(".editLink").click(function () {
                        var Id = $(this).attr("uid");
                        editClickEvent(Id);
                        return false;
                    });

                    $(".deleteLink").click(function () {
                        var Id = $(this).attr("uid");
                        $.post("/UserInfo/Delete", { ids: [Id] }, function (data) {
                            if (data == "ok") {
                                initTable();
                            } else {
                                $.messager.alert("Message", "Failed", "error");
                            }

                        });
                        return false;
                    });
                }
                
            });
        }

        // set action(s) to a user
        function setActionClickEvent(Id) {
            $("#setActionFrame").attr("src", "/UserInfo/SetAction/" + Id);

            $("#setActionDialogDiv").show();
            // create/insert a dialog to the id named 'setActionDialogDiv'
            $("#setActionDialogDiv").dialog({
                title: "设置权限",
                modal: true,
                width: 400,
                height: 400,
                collapsible: true,
                minimizable: true,
                maximizable: true,
                resizable: true,
                //buttons: [
                //    {
                //        id: 'btnOk',
                //        text: 'set',
                //        iconCls: 'icon-ok',
                //        handler: function () {
                //            // use the child method to submit the data
                //            $("#setActionFrame")[0].contentWindow.submitForm();
                //        }
                //    },
                //    {
                //        id: 'btnCancel',
                //        text: 'cancel',
                //        iconCls: 'icon-cancel',
                //        handler: function () {
                //            $("#setActionDialogDiv").dialog("close");
                //        }
                //    }
                //]

            });
        }

        // closed Set-Role dialog and update the table
        function afterSetActionSuccess() {
            $("#setActionDialogDiv").dialog("close");
            initTable();
        }

        // set role(s) to a user
        function setRoleClickEvent(Id){
            $("#setRoleFrame").attr("src", "/UserInfo/SetRole/" + Id);

            $("#setRoleDialogDiv").show();
            $("#setRoleDialogDiv").dialog({
                title: "设置角色",
                modal: true,
                width: 400,
                height: 400,
                collapsible: true,
                minimizable: true,
                maximizable: true,
                resizable: true,
                buttons: [
                    {
                        id: 'btnOk',
                        text: 'set',
                        iconCls: 'icon-ok',
                        handler: function () {
                            // use the child method to submit the data
                            $("#setRoleFrame")[0].contentWindow.submitForm();
                        }
                    },
                    {
                        id: 'btnCancel',
                        text: 'cancel',
                        iconCls: 'icon-cancel',
                        handler: function () {
                            $("#setRoleDialogDiv").dialog("close");
                        }
                    }
                ]

            });
        }

        // closed Set-Role dialog and update the table
        function afterSetRoleSuccess() {
            $("#setRoleDialogDiv").dialog("close");
            initTable();
        }

        // edit a user
        function editClickEvent(Id) {
            // assign value to editFrame src attribute
            $("#editFrame").attr("src", "/UserInfo/Edit/" + Id);

            $("#editDialogDiv").show();
            $("#editDialogDiv").dialog({
                title: "修改用户",
                modal: true,
                width: 400,
                height: 400,
                collapsible: true,
                minimizable: true,
                maximizable: true,
                resizable: true,
                buttons: [
                    {
                        id: 'btnOk',
                        text: 'save',
                        iconCls: 'icon-ok',
                        handler: function () {
                            // use the child method to submit the data
                            $("#editFrame")[0].contentWindow.submitForm();
                        }
                    },
                    {
                        id: 'btnCancel',
                        text: 'cancel',
                        iconCls: 'icon-cancel',
                        handler: function () {
                            $("#editDialogDiv").dialog("close");
                        }
                    }
                ]

            });
        }

        // closed Edit-User dialog and update the table
        function afterEditSuccess() {
            $("#editDialogDiv").dialog("close");
            initTable();
        }

        // delete user(s) and update the table
        function deleteClickEvent() {
            // get the data which is selected
            var seletedRows = $('#tt').datagrid("getSelections");
            if (seletedRows.length <= 0) {
                $.messager.alert("error", "please select at least one row", "warning");
                return;
            }

            var ids = "";
            // delete the data
            // add all ids to a list
            for (var key in seletedRows) {
                ids = ids + seletedRows[key].Id + ',';
            }
            ids = ids.substr(0, ids.length -1);
            $.post("/UserInfo/Delete", { ids: ids }, function (data) {
                if (data == "ok") {
                    initTable();
                } else {
                    $.messager.alert("Message", "Failed", "error");
                }

            });
            return;
        }

        // create a new dialog, when the 'new user'-button is clicked
        function addClickEvent() {
            $("#addDialogDiv").css("display", "block");
            $("#addDialogDiv").dialog({
                title: "添加用户",
                modal: true,
                width: 400,
                height: 400,
                collapsible: true,
                minimizable: true,
                maximizable: true,
                resizable: true,
                buttons: [
                    {
                        id: 'btnOk',
                        text: 'ok',
                        iconCls: 'icon-ok',
                        handler: function () {
                            subAddForm();
                        }
                    },
                    {
                        id: 'btnCancel',
                        text: 'cancel',
                        iconCls: 'icon-cancel',
                        handler: function () {
                            $("#addDialogDiv").dialog("close");
                        }
                    }
                ]

            });
        }

        // executed after the page is successfully updated by using Ajax method
        function afterAddSuccess(data) {
            if (data == "ok") {
                // closed dialog and update table
                $("#addDialogDiv").dialog("close");
                initTable();
            } else {
                $.messager.alert("add failed");
            }

        }

        // transfer the new user-data to the backend
        function subAddForm() {
            $("#addDialogDiv form").submit();
        }

        function bindSearchButtonClick() {
            $("#btnSearch").click(function () {
                var data = { srchName: $("#txtSrchName").val(), srchRemark: $("#txtSrchRemark").val() };
                initTable(data);
            });
        }

    </script>
</head>
<body>

    <div>
        用户名: <input type="text" id="txtSrchName" name="txtSrchName" />
        备注:   <input type="text" id="txtSrchRemark" name="txtSrchRemark" />
        <input type="button" id="btnSearch" value="search" />
    </div>

    <!--当前页面存放数据的地方-->
    <table id="tt" style="width: 700px;" title="标题可以使用代码进行初始化,也可以使用这用属性的方式" iconcls="icon-edit">
    </table>

    <!----------------- 弹出添加的对话框 开始 ------------------>
    <div id="addDialogDiv">
        @using (Ajax.BeginForm("Add", "UserInfo", new AjaxOptions()
        {
            HttpMethod = "Post",
            OnSuccess = "afterAddSuccess"
        }))
        {
            <table>
                @*@Html.HiddenFor(u => u.Id)*@
                <tr>
                    <td>User name:</td>
                    <td>@Html.Editor("UserName")</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(u => u.Password):</td>
                    <td>@Html.Editor("Password")</td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td>@Html.Editor("LastName")</td>
                </tr>
                <tr>
                    <td>First name:</td>
                    <td>@Html.Editor("FirstName")</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(u => u.Remark):</td>
                    <td>@Html.TextArea("Remark")</td>
                </tr>
            </table>
        }
            
    </div>
    <!----------------- 弹出添加的对话框 结束 ------------------>


    <!----------------- 弹出添加的对话框 开始 ------------------>
    <div id="editDialogDiv">
        <iframe id="editFrame" src="javascript:void(0)" frameborder="0" style="width:100%; height:100%" scrolling="no"></iframe>
    </div>
    <!----------------- 弹出添加的对话框 结束 ------------------>

    <!----------------- 弹出设置角色的对话框 开始 ------------------>
    <div id="setRoleDialogDiv">
        <iframe id="setRoleFrame" src="javascript:void(0)" frameborder="0" style="width:100%; height:100%" scrolling="no"></iframe>
    </div>
    <!----------------- 弹出设置角色的对话框 结束 ------------------>
    <!----------------- 弹出设置角色的对话框 开始 ------------------>
    <div id="setActionDialogDiv">
        <iframe id="setActionFrame" src="javascript:void(0)" frameborder="0" style="width:100%; height:100%" scrolling="no"></iframe>
    </div>
    <!----------------- 弹出设置角色的对话框 结束 ------------------>
</body>
</html>
