@using MAP.OA.Model
@model IEnumerable<MAP.OA.Model.ActionInfo>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SetAction</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script type="text/javascript">
        $(function () {
            // when a radio button is clicked (Monitor all)
            $(":radio").click(function () {
                $.post("/UserInfo/EditUserAction",
                    { uId: $(this).attr("uId"), aId: $(this).attr("actionId"), value: $(this).val() },
                    function (data) {
                        if (data == "ok") {

                        }
                    });
            });

            // when a remove button is clicked (Monitor all)
            $(".btnRemove").click(function () {
                // do nothing if no buttons are checked
                if ($(this).siblings(":radio").length > 0) {
                    // pass all checked button to backend
                    $.post("/UserInfo/DeleteUserAction",
                        { uId: $(this).attr("uId"), aId: $(this).attr("actionId") },
                        function (data) {
                            if (data == "ok") {

                            }
                        });
                }

                // reset all redio button to false in this row
                $(this).siblings(":radio").attr("checked", false);

               
            });

            $(".test").click(function () {
                alert($(this).siblings(":radio").length);
                $(this).siblings(":radio").css("background", "yellow");
                $(".test").css("background", "yellow");
            });
        });

        // called when edition is successful
        function afterSetAction(data) {
            if (data == "ok") {
                window.parent.window.afterSetActionSuccess();
            } else {
                alert("set failed");
            }
        }

        // submit the data to controller
        function submitForm() {
            $("form").submit();
        }
    </script>
</head>
<body>
    @{ 
        UserInfo userInfo = ViewBag.User;
    }
    <div> 
        <p>
            <input actionId="9" id="rb_1" name="rb_9" type="radio" uId="1" value="1" />set
            <input actionId="9" id="rb_1" name="rb_9" type="radio" uId="1" value="0" />unset
            <input type="button" uId="1" actionId="9" value="remove" class="test" id="test" />
        </p>

        <h3>Set Action for: @userInfo.UserName</h3>
        @using (Ajax.BeginForm(new AjaxOptions()
        {
            OnSuccess = "afterSetAction"
        }))
        {
            <table>
                @Html.HiddenFor(u => userInfo.Id)
                <tr>
                    <th>权限Id</th>
                    <th>权限名</th>
                    <th>权限地址</th>
                    <th>权限方法</th>
                    <th>操作</th>
                </tr>
                @foreach(var actionInfo in Model)
                {
                    string strId = "rb_" + actionInfo.Id;
                    <tr>
                        <td>@Html.DisplayFor(u => actionInfo.Id)</td>
                        <td>@Html.DisplayFor(u => actionInfo.ActionName)</td>
                        <td>@Html.DisplayFor(u => actionInfo.Url)</td>
                        <td>@Html.DisplayFor(u => actionInfo.HttpMethod)</td>
                        <td>
                            @Html.RadioButton(strId, 1, new { uId = userInfo.Id, actionId = actionInfo.Id })set
                            @Html.RadioButton(strId, 0, new { uId = userInfo.Id, actionId = actionInfo.Id })unset
                            <input type="button" uId="@userInfo.Id" actionId="@actionInfo.Id" value="remove" class="btnRemove" id="btnRemove" />
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</body>
</html>
